.popover {
  width: fit-content;
  padding: 16px;
  background-color: var(--color-surface);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-md);
}

.row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
}