:root {
  --color-background: #15161A;
  --color-surface: #27222B;
  --color-surface-2: #333742;
  --color-on-surface: #E2E2E2;
  --color-on-surface-2: #989898;
  --color-primary: #5F26D2;
  /*
  --color-success
  --color-error
  --color-warning
  */

  --border-radius-md: 4px;
  --box-shadow-md: 0 6px 12px rgba(0, 0, 0, .15);
}

/*@media (prefers-color-scheme: dark) {
  :root {}
}*/

@media (prefers-reduced-motion: reduce) {
  * {
    transition: unset;
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--color-on-surface);
  background: var(--color-surface);
  font-family: Roboto, var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
