@use '../../styles/mixins' as *;

.container {
  position: relative;
  width: fit-content;
}

.field {
  @include input-base;
  padding-right: calc(20px + 16px);
}

.visibilityButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  padding: 8px;
  background-color: unset;
  border: none;
  border-radius: var(--border-radius-md);
  color: var(--color-on-surface-2);
  text-align: center;
  cursor: pointer;
  transition: color .2s;

  &:hover, &:focus-visible {
    color: var(--color-on-surface);
  }

  &:focus-visible {
    outline: solid 2px var(--color-primary);
  }
}