.nav {
  display: inline-block;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.li {
  text-decoration: none;
  display: inline-block;
}

.link {
  text-decoration: none;
  opacity: .6;
  transition: opacity .3s;

  &:focus-visible, &:hover {
    opacity: 1;
  }
}